<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forenzični program</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Vnesite kodo osumljenega:</h1>
  <form method="post">
    <textarea name="dna" rows="4" cols="60"></textarea><br>
    <input type="submit" name="" value="Preveri">
  </form>
  <h1>Osumljen ima <span>{{barva_las}}</span> barvo las, <span>{{obraz}}</span> obraz, <span>{{barva_oci}}</span> barve oči je <span>{{spol}}</span> spol in je <span>{{rasa}}</span> rase</h1>
</body>
</html>
